<div style="position: relative; text-align: center;" >
  <%= image_tag('finance.jpg', width: '100%') %>
  <h1 class="text-center" style="position: absolute; top: 47%; left: 31%; color: #5c5d5c">Персональний менеджер фінансів</h1>
  <%= link_to "Почати", reports_path, class: "btn btn-success btn-lg", style: 'position: absolute; top: 57%; left: 45%' %>
</div>
