<div style="position: relative; text-align: center;" >
  <%= image_tag('finance.jpg', width: '100%') %>
  <h1 class="text-center" style="position: absolute; top: 50%; left: 27%">Персональний менеджер фінансів</h1>
</div>
